html{
    font-size: 16px;
}

body{
    background-image: url(https://www.filmhousecinema.com/sites/filmhousecinema.com/files/shows/2017/Mountain-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
h1{
    font-size: 5rem;
    text-align:center;
    font-family: 'Nanum Brush Script', cursive;
}
div.content{
    background-color: rgba(255, 255, 255, 0.7);
    margin-left: auto;
    margin-right: auto;
    width: 65rem;
    font-family: 'Rammetto One', cursive;
    font-size: 1rem;
    border: 1rem solid green;
    padding-left: 2rem;
    padding-right: 2rem;
}
div.connect{
    background-color: #00FFFF;
    font-size: 2rem;
    text-align: center;
}